{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if not post %}
    <center>
        <h1>404</h1>
        <h3>Page Not Found</h3>
    </center>
{% endif %}
<section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ post.preview.url }}" alt="..." />{{ post.user }}</div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>{{ post.title }}</h4>
                        <p class="text-black-50 mb-0">{{ post.description }}</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5" style="margin-left: 819">
                    <div class="featured-text text-center text-lg-left">
                        <audio controls>
                          <source src="{{ post.file.url }}" type="audio/ogg">
                        </audio>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <video controls>
                        <source src="{{ post.file.url }}" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/demo-image-02.jpg' %}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Mountains</h4>
                                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
        <a class="btn btn-primary" href="{% url 'post_delete' post.id %}">Удалить</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
<center>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>
</center>


{% endblock %}